/* screen - - */

.x {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  flex-direction: column;
  height: 4147px;
  width: 1920px;
}

.x .overlap-group1 {
  height: 80px;
  position: relative;
  width: 1920px;
}

.x .as {
  left: 159px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 47px;
}

.x .header {
  align-items: center;
  display: flex;
  gap: 300px;
  height: 80px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x .bi {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .symbol {
  height: 36px;
  min-width: 32px;
}

.x .text-7 {
  letter-spacing: 0.50px;
  line-height: 24.0px;
  min-width: 116px;
  white-space: nowrap;
}

.x .right {
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: center;
  width: min-content;
}

.x .text {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.x .benefits {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 55px;
  white-space: nowrap;
}

.x .haruki-primary-arrow-down-2 {
  height: 16px;
  min-width: 16px;
}

.x .benefits-1 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 58px;
  white-space: nowrap;
}

.x .haruki-primary-arrow-down-2-1 {
  height: 16px;
  min-width: 16px;
}

.x .text-8 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 85px;
  white-space: nowrap;
}

.x .benefits-2 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 69px;
  white-space: nowrap;
}

.x .haruki-primary-arrow-down-2-2 {
  height: 16px;
  min-width: 16px;
}

.x .text-9 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 32px;
  white-space: nowrap;
}

.x .group-6 {
  height: 20px;
  min-width: 66px;
}

.x .group-7 {
  align-items: center;
  background-color: var(--wild-sand);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 30px;
  width: min-content;
}

.x .price {
  letter-spacing: 3.00px;
  margin-top: -1px;
  min-width: 28px;
}

.x .vector {
  height: 11px;
  min-width: 15px;
}

.x .nav-type-1 {
  align-items: center;
  background-color: var(--chicago);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 220px;
  width: 1920px;
}

.x .node-2 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  width: min-content;
}

.x .group {
  align-items: center;
  display: flex;
  height: min-content;
  width: min-content;
}

.x .text-10 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 129px;
  white-space: nowrap;
}

.x .text-11 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 136px;
  white-space: nowrap;
}

.x .text-12 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 176px;
  white-space: nowrap;
}

.x .text-13 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 197px;
  white-space: nowrap;
}

.x .group-8 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .charmpeople {
  height: 16px;
  min-width: 16px;
}

.x .text-14 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 82px;
  white-space: nowrap;
}

.x .nav-3 {
  align-items: center;
  background-color: var(--charade);
  display: flex;
  gap: 40px;
  height: 89px;
  justify-content: center;
  width: 1920px;
}

.x .node-3 {
  align-items: center;
  display: flex;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.x .node {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 77px;
}

.x .node-4 {
  align-items: center;
  display: flex;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.x .node-5 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 37px;
}

.x .node-6 {
  align-items: center;
  display: flex;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.x .node-7 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 52px;
}

.x .node-8 {
  align-items: center;
  display: flex;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.x .node-9 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 46px;
}

.x .node-10 {
  align-items: center;
  display: flex;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.x .comp-list-index {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: min-content;
  justify-content: center;
  margin-right: 1.0px;
  margin-top: 71px;
  width: 1597px;
}

.x .node-1 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 10px;
  display: flex;
  gap: 6px;
  height: 114px;
  justify-content: center;
  width: 259px;
}

.x .value-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .dj30 {
  letter-spacing: 0;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 37px;
  white-space: nowrap;
}

.x .phone {
  letter-spacing: 0;
  line-height: 24.0px;
  min-width: 76px;
  white-space: nowrap;
}

.x .text-1 {
  letter-spacing: 0;
  line-height: 24.0px;
  min-width: 36px;
  white-space: nowrap;
}

.x .value {
  height: 69.54px;
  min-width: 114px;
}

.x .value-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .value-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .value-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .value-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .group-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 3027px;
  margin-top: 120px;
  width: 1596px;
}

.x .banner {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--baltic-sea);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 517px;
  justify-content: center;
  padding: 0px 90px;
}

.x .welcome-to-dreamfram {
  letter-spacing: 0;
  line-height: 40px;
}

.x .group-10 {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  height: 2663px;
  margin-bottom: -233px;
  margin-right: -3px;
  width: 1599px;
}

.x .group-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;
  padding: 20px 0px;
}

.x .group-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: min-content;
  padding: 20px 0px;
  width: 471px;
}

.x .group-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.x .text-15 {
  letter-spacing: 0.10px;
  margin-top: -1px;
  min-width: 68px;
}

.x .separator {
  height: 1px;
  min-width: 471px;
}

.x .text-16 {
  letter-spacing: 0.10px;
  line-height: 24px;
  width: 290px;
}

.x .group-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .join {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .ic_date {
  background-image: url(../img/shape@2x.svg);
  background-size: 100% 100%;
  height: 20px;
  min-width: 20px;
}

.x .text-17 {
  letter-spacing: 0.20px;
  margin-top: -1px;
  min-width: 121px;
}

.x .group-1 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  box-shadow: 2px 4px 20px #3864f61a;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 305px;
  justify-content: center;
  overflow: hidden;
  padding: 40px 90px;
  width: 471px;
}

.x .big-movers {
  letter-spacing: 0;
  width: 252px;
}

.x .frame-4245 {
  align-items: flex-end;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: min-content;
}

.x .frame-424 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: min-content;
  width: min-content;
}

.x .percent {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 29px;
}

.x .rectangle-996 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 114px;
  min-width: 31px;
}

.x .place {
  letter-spacing: 0;
  min-width: 19px;
}

.x .rectangle-996-1 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 97px;
  min-width: 31px;
}

.x .btc {
  letter-spacing: 0;
  min-width: 18px;
}

.x .rectangle-996-2 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 85px;
  min-width: 31px;
}

.x .lun {
  letter-spacing: 0;
  min-width: 19px;
}

.x .rectangle-996-3 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 63px;
  min-width: 31px;
}

.x .sol {
  letter-spacing: 0;
  min-width: 18px;
}

.x .percent-1 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 23px;
}

.x .rectangle-996-4 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 26px;
  min-width: 31px;
}

.x .doge {
  letter-spacing: 0;
  min-width: 26px;
}

.x .top-losers {
  letter-spacing: 0;
  width: 252px;
}

.x .place-1 {
  letter-spacing: 0;
  min-width: 19px;
}

.x .btc-1 {
  letter-spacing: 0;
  min-width: 18px;
}

.x .lun-1 {
  letter-spacing: 0;
  min-width: 19px;
}

.x .sol-1 {
  letter-spacing: 0;
  min-width: 18px;
}

.x .group-15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: min-content;
  width: 1111px;
}

.x .comp-post-input {
  align-items: flex-start;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  box-shadow: 2px 4px 20px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  padding: 30px 40px;
  width: 948px;
}

.x .text-18 {
  align-self: stretch;
  letter-spacing: 0.10px;
  margin-top: -1px;
}

.x .separator-3 {
  align-self: stretch;
  height: 1px;
  min-width: 868px;
}

.x .group-16 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.x .group-17 {
  align-items: center;
  display: flex;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.x .avatar {
  background-image: url(../img/pp1-11@2x.svg);
  background-size: 100% 100%;
  height: 36px;
  min-width: 36px;
}

.x .text-19 {
  letter-spacing: 0.10px;
  width: 243.44px;
}

.x .ic_-image {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.x .shape-5 {
  height: 20px;
  left: 848px;
  position: absolute;
  top: 8px;
  width: 20px;
}

.x .group-18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .comp-post-default {
  align-items: flex-start;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  box-shadow: 2px 4px 20px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: min-content;
  padding: 40px;
  width: 950px;
}

.x .group-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  height: min-content;
  justify-content: space-between;
}

.x .user {
  height: 42px;
  min-width: 292.19px;
  position: relative;
}

.x .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 79px;
  min-height: 39px;
  position: absolute;
  top: 2px;
  width: 209px;
}

.x .name {
  letter-spacing: 0.10px;
  min-height: 21px;
  width: 209px;
}

.x .address {
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 14px;
  width: 165px;
}

.x .pp1 {
  background-image: url(../img/pp1-12@2x.svg);
  background-size: 100% 100%;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.x .componenticonic_-more {
  height: 4px;
  min-width: 24.84px;
  position: relative;
}

.x .shape {
  height: 4px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 25px;
}

.x .text-2 {
  letter-spacing: 0.10px;
  line-height: 24px;
  white-space: nowrap;
}

.x .group-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  justify-content: center;
}

.x .separator-1 {
  background-color: var(--seashell);
  height: 3px;
  margin-top: -1px;
  min-width: 402px;
}

.x .post-action {
  align-items: flex-end;
  display: flex;
  gap: 113px;
  width: min-content;
}

.x .comment {
  align-items: flex-end;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .ic_comment {
  height: 25px;
  margin-left: 0px;
  min-width: 37.94px;
}

.x .text-3 {
  letter-spacing: 0.10px;
  line-height: 24px;
  min-width: 81px;
  white-space: nowrap;
}

.x .likes {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .icon-heart {
  height: 24px;
  margin-left: 0px;
  min-width: 21.83px;
}

.x .text-4 {
  letter-spacing: 0.10px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 53px;
  white-space: nowrap;
}

.x .share {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .icon-share {
  height: 24px;
  margin-left: 0px;
  min-width: 24.11px;
}

.x .text-5 {
  letter-spacing: 0.10px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 48px;
  white-space: nowrap;
}

.x .saved {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .ic_-saved {
  height: 24px;
  min-width: 28.09px;
  position: relative;
}

.x .icon-bookmark {
  height: 21px;
  left: 5px;
  position: absolute;
  top: 1px;
  width: 20px;
}

.x .text-6 {
  letter-spacing: 0.10px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 50px;
  white-space: nowrap;
}

.x .separator-2 {
  background-color: var(--seashell);
  height: 3px;
  margin-bottom: -1px;
  min-width: 402px;
}

.x .comment-1 {
  align-self: stretch;
  height: 46px;
  margin-left: 0px;
  margin-right: -2px;
  min-width: 872px;
  position: relative;
}

.x .overlap-group {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 15px;
  display: flex;
  height: 46px;
  left: 66px;
  min-width: 804px;
  padding: 0 20.9px;
  position: absolute;
  top: 0;
}

.x .write-your-comment {
  letter-spacing: 0.10px;
  line-height: 24px;
  margin-bottom: 2.0px;
  min-height: 24px;
  white-space: nowrap;
  width: 202px;
}

.x .icon-paperclip {
  height: 22px;
  margin-bottom: 0.02px;
  margin-left: 414px;
  width: 18px;
}

.x .shape-1 {
  align-self: flex-end;
  height: 21px;
  margin-bottom: -243.0px;
  margin-left: 37px;
  width: 18px;
}

.x .shape-2 {
  align-self: flex-end;
  height: 20px;
  margin-bottom: -243px;
  margin-left: 39px;
  width: 18px;
}

.x .pp1-1 {
  align-items: flex-end;
  display: flex;
  height: 36px;
  left: 0;
  min-width: 33px;
  padding: 0 0.0px;
  position: absolute;
  top: 5px;
}

.x .pp1-2 {
  height: 36px;
  margin-bottom: -248px;
  width: 33px;
}

.x .pp1-3 {
  background-image: url(../img/pp1-14@2x.svg);
  background-size: 100% 100%;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.x .group-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: min-content;
}

.x .group-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 30px;
}

.x .post-photos {
  align-self: stretch;
  flex: 1;
  height: 175px;
  min-width: 420px;
}

.x .post-photos-1 {
  height: 155px;
  min-width: 450.53px;
  object-fit: cover;
}

.x .likes-1 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .share-1 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .saved-1 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .shape-3 {
  align-self: flex-end;
  height: 21px;
  margin-bottom: -633.0px;
  margin-left: 37px;
  width: 18px;
}

.x .shape-4 {
  align-self: flex-end;
  height: 20px;
  margin-bottom: -633px;
  margin-left: 39px;
  width: 18px;
}

.x .pp1-4 {
  align-items: flex-end;
  display: flex;
  height: 36px;
  left: 0;
  min-width: 33px;
  padding: 0 0.0px;
  position: absolute;
  top: 5px;
}

.x .pp1-5 {
  height: 36px;
  margin-bottom: -638px;
  width: 33px;
}

.x .pp1-6 {
  background-image: url(../img/pp1-16@2x.svg);
  background-size: 100% 100%;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.x .likes-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .share-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .saved-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .pp1-7 {
  align-items: flex-end;
  display: flex;
  height: 36px;
  left: 0;
  min-width: 33px;
  padding: 0 0.0px;
  position: absolute;
  top: 5px;
}

.x .pp1-8 {
  height: 36px;
  margin-bottom: -248px;
  width: 33px;
}

.x .pp1-9 {
  background-image: url(../img/pp1-18@2x.svg);
  background-size: 100% 100%;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.x .likes-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .share-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .saved-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .pp1-10 {
  align-items: flex-end;
  display: flex;
  height: 36px;
  left: 0;
  min-width: 33px;
  padding: 0 0.0px;
  position: absolute;
  top: 5px;
}

.x .pp1-11 {
  height: 36px;
  margin-bottom: -638px;
  width: 33px;
}

.x .pp1-12 {
  background-image: url(../img/pp1-20@2x.svg);
  background-size: 100% 100%;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.x .likes-4 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .share-4 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .saved-4 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x .pp1-13 {
  align-items: flex-end;
  display: flex;
  height: 36px;
  left: 0;
  min-width: 33px;
  padding: 0 0.0px;
  position: absolute;
  top: 5px;
}

.x .pp1-14 {
  height: 36px;
  margin-bottom: -248px;
  width: 33px;
}
