/* screen - -15 */

.x-15 {
  align-items: flex-start;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.x-15 .overlap-group2 {
  height: 2714px;
  position: relative;
  width: 1920px;
}

.x-15 .header {
  align-items: center;
  display: flex;
  gap: 300px;
  height: 80px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x-15 .bi {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-15 .symbol {
  height: 36px;
  min-width: 32px;
}

.x-15 .text-1 {
  letter-spacing: 0.50px;
  line-height: 24.0px;
  min-width: 116px;
  white-space: nowrap;
}

.x-15 .right {
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: center;
  width: min-content;
}

.x-15 .text {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.x-15 .benefits {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 55px;
  white-space: nowrap;
}

.x-15 .haruki-primary-arrow-down-2 {
  height: 16px;
  min-width: 16px;
}

.x-15 .benefits-1 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 58px;
  white-space: nowrap;
}

.x-15 .haruki-primary-arrow-down-2-1 {
  height: 16px;
  min-width: 16px;
}

.x-15 .text-2 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 85px;
  white-space: nowrap;
}

.x-15 .benefits-2 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 69px;
  white-space: nowrap;
}

.x-15 .haruki-primary-arrow-down-2-2 {
  height: 16px;
  min-width: 16px;
}

.x-15 .text-3 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 32px;
  white-space: nowrap;
}

.x-15 .group-3 {
  height: 20px;
  min-width: 66px;
}

.x-15 .group-4 {
  align-items: center;
  background-color: var(--wild-sand);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 30px;
  width: min-content;
}

.x-15 .price {
  letter-spacing: 3.00px;
  margin-top: -1px;
  min-width: 28px;
}

.x-15 .vector {
  height: 11px;
  min-width: 15px;
}

.x-15 .nav-type-1 {
  align-items: center;
  background-color: var(--chicago);
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 0;
  padding: 0px 220px;
  position: absolute;
  top: 80px;
  width: 1920px;
}

.x-15 .node-4 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  width: min-content;
}

.x-15 .group {
  align-items: center;
  display: flex;
  height: min-content;
  width: min-content;
}

.x-15 .text-4 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 129px;
  white-space: nowrap;
}

.x-15 .text-5 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 136px;
  white-space: nowrap;
}

.x-15 .text-6 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 176px;
  white-space: nowrap;
}

.x-15 .text-7 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 197px;
  white-space: nowrap;
}

.x-15 .group-5 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-15 .charmpeople {
  height: 16px;
  min-width: 16px;
}

.x-15 .text-8 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 82px;
  white-space: nowrap;
}

.x-15 .group-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: min-content;
  left: 226px;
  position: absolute;
  top: 270px;
  width: min-content;
}

.x-15 .input-resource {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 144px;
}

.x-15 .comp-calculator {
  align-items: center;
  background-color: var(--alabaster-3);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 630px;
  justify-content: center;
  padding: 0px 40px;
  width: 1467px;
}

.x-15 .group-7 {
  align-items: flex-start;
  display: flex;
  gap: 70px;
  width: 888px;
}

.x-15 .group-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  height: min-content;
}

.x-15 .text-9 {
  letter-spacing: 0;
  margin-top: -1px;
}

.x-15 .node {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
}

.x-15 .text-10 {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .node-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  border-radius: 10px;
  display: flex;
  gap: 30px;
  height: min-content;
  justify-content: center;
  padding: 0px 5px;
}

.x-15 .coin {
  letter-spacing: 0.30px;
  line-height: 54px;
  margin-top: -1px;
  min-width: 69px;
  white-space: nowrap;
}

.x-15 .dashiconsarrow-down {
  height: 20px;
  min-width: 20px;
}

.x-15 .text-11 {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .text-12 {
  letter-spacing: 0;
  margin-top: -1px;
}

.x-15 .text-13 {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .text-14 {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .text-15 {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .btn {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: 44px;
  justify-content: center;
  width: 284px;
}

.x-15 .calculate {
  letter-spacing: 0;
  min-width: 59px;
  text-align: center;
}

.x-15 .group-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: min-content;
  left: 174px;
  padding: 0px 50px;
  position: absolute;
  top: 1026px;
  width: 1572px;
}

.x-15 .group-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 580px;
}

.x-15 .text-16 {
  letter-spacing: 0;
  margin-top: -1px;
}

.x-15 .group-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 20px;
  height: 534px;
  padding: 40px 0px;
}

.x-15 .frame-2760 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.x-15 .surname {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .recent-report {
  background-color: var(--flowkitwhite);
  border-radius: 15px;
  height: 466px;
  margin-bottom: -41px;
  margin-right: -12px;
  min-width: 738px;
  overflow: hidden;
  position: relative;
}

.x-15 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 69px;
  min-height: 291px;
  position: absolute;
  top: 94px;
  width: 745px;
}

.x-15 .overlap-group1 {
  align-self: flex-end;
  height: 246px;
  position: relative;
  width: 732px;
}

.x-15 .line-container {
  height: 1px;
  left: -120px;
  position: absolute;
  top: 120px;
  width: 784px;
}

.x-15 .line-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 240px;
}

.x-15 .line-3 {
  height: 1px;
  left: 68px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x-15 .line-4 {
  height: 1px;
  left: 136px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x-15 .line-5 {
  height: 1px;
  left: 204px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x-15 .line-6 {
  height: 1px;
  left: 272px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x-15 .line-8 {
  height: 1px;
  left: 408px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x-15 .line-9 {
  height: 1px;
  left: 476px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x-15 .line-10 {
  height: 1px;
  left: 544px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x-15 .line-11 {
  height: 1px;
  left: 492px;
  position: absolute;
  top: 120px;
  width: 240px;
}

.x-15 .red-chart {
  height: 143px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 612px;
}

.x-15 .date {
  align-items: flex-start;
  display: flex;
  margin-top: 24px;
  min-width: 659px;
}

.x-15 .name {
  height: 21px;
  letter-spacing: 0;
  min-width: 26px;
}

.x-15 .feb {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 26px;
}

.x-15 .place {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .apr {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .name-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 30px;
}

.x-15 .jul {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 19px;
}

.x-15 .aug {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 28px;
}

.x-15 .sep {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .oct {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .dec {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
}

.x-15 .group-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 31px;
  min-height: 242px;
  position: absolute;
  top: 95px;
  width: 35px;
}

.x-15 .x120-k {
  height: 18px;
  letter-spacing: 0;
}

.x-15 .x90-k {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x60-k {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x30-k {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x10-k {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .frame-2763 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  height: 259px;
}

.x-15 .cumulative-return {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .recent-report-1 {
  background-color: var(--flowkitwhite);
  border-radius: 15px;
  height: 466px;
  margin-bottom: -236px;
  margin-right: -12px;
  min-width: 738px;
  overflow: hidden;
  position: relative;
}

.x-15 .vector-1 {
  height: 134px;
  left: 1px;
  position: absolute;
  top: 64px;
  width: 611px;
}

.x-15 .vector-2 {
  height: 176px;
  left: 1px;
  position: absolute;
  top: 64px;
  width: 611px;
}

.x-15 .ellipse-5 {
  background-color: var(--royal-blue);
  border-radius: 8px;
  height: 16px;
  left: 333px;
  position: absolute;
  top: 107px;
  width: 16px;
}

.x-15 .feb-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 26px;
}

.x-15 .place-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .apr-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .jul-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 19px;
}

.x-15 .aug-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 28px;
}

.x-15 .sep-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .oct-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .dec-1 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
}

.x-15 .x90-k-1 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x60-k-1 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x30-k-1 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x10-k-1 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .group-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: min-content;
}

.x-15 .frame-2760-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 20px;
  height: 534px;
  padding: 40px 0px;
}

.x-15 .macd {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .feb-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 26px;
}

.x-15 .place-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .apr-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .jul-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 19px;
}

.x-15 .aug-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 28px;
}

.x-15 .sep-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .oct-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .dec-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
}

.x-15 .x90-k-2 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x60-k-2 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x30-k-2 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x10-k-2 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .mdd {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .feb-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 26px;
}

.x-15 .place-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .apr-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .jul-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 19px;
}

.x-15 .aug-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 28px;
}

.x-15 .sep-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .oct-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .dec-3 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
}

.x-15 .x90-k-3 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x60-k-3 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x30-k-3 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x10-k-3 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .frame-2760-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 20px;
  height: 534px;
  padding: 40px 0px;
}

.x-15 .return {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .feb-4 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 26px;
}

.x-15 .place-4 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .apr-4 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .jul-4 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 19px;
}

.x-15 .aug-4 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 28px;
}

.x-15 .sep-4 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 27px;
}

.x-15 .oct-4 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
  min-width: 25px;
}

.x-15 .dec-4 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 42px;
}

.x-15 .x90-k-4 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x60-k-4 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x30-k-4 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .x10-k-4 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 38px;
}

.x-15 .frame-2763-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  height: 494px;
  margin-bottom: -40px;
}

.x-15 .value {
  letter-spacing: 0.30px;
  margin-top: -1px;
}

.x-15 .recent-report-2 {
  background-color: var(--flowkitwhite);
  border-radius: 15px;
  height: 466px;
  margin-bottom: -1px;
  margin-right: -12px;
  min-width: 738px;
  overflow: hidden;
}

.x-15 .frame-4152 {
  align-items: flex-start;
  display: flex;
  left: 84px;
  position: relative;
  top: 134px;
  width: 558px;
}

.x-15 .left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 200px;
}

.x-15 .node-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--bon-jour-3);
  display: flex;
  gap: 20px;
  height: 36px;
  justify-content: center;
  padding: 5px;
}

.x-15 .text-type-1 {
  letter-spacing: 0;
  min-width: 6px;
}

.x-15 .node-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--bon-jour-4);
  display: flex;
  gap: 20px;
  height: 36px;
  justify-content: center;
  padding: 5px;
}

.x-15 .text-type-1-1 {
  letter-spacing: 0;
  min-width: 16px;
}

.x-15 .text-type-1-2 {
  letter-spacing: 0;
  min-width: 18px;
}

.x-15 .text-type-1-3 {
  letter-spacing: 0;
  min-width: 46px;
}

.x-15 .text-type-1-4 {
  letter-spacing: 0;
  min-width: 26px;
}

.x-15 .right-1 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: min-content;
  justify-content: center;
}

.x-15 .text-type-1-5 {
  letter-spacing: 0;
  min-width: 51px;
}

.x-15 .text-type-1-6 {
  letter-spacing: 0;
  min-width: 25px;
}

.x-15 .text-type-1-7 {
  letter-spacing: 0;
  min-width: 24px;
}

.x-15 .text-type-1-8 {
  letter-spacing: 0;
  min-width: 13px;
}

.x-15 .text-type-1-9 {
  letter-spacing: 0;
  min-width: 35px;
}

.x-15 .overlay {
  background-color: #00000066;
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x-15 .card-message {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 629px;
  justify-content: center;
  left: 488px;
  position: absolute;
  top: 217px;
  width: 945px;
}

.x-15 .input-titled {
  height: 64px;
  min-width: 619px;
  position: relative;
}

.x-15 .input-title {
  align-items: flex-start;
  display: flex;
  height: 14px;
  left: 0;
  min-width: 619px;
  position: absolute;
  top: 0;
}

.x-15 .input-title-1 {
  letter-spacing: 0;
  margin-top: -1px;
  min-height: 15px;
  width: 619px;
}

.x-15 .input {
  align-items: flex-start;
  background-color: var(--flowkitwhite);
  border-radius: 2px;
  display: flex;
  height: 40px;
  left: 0;
  min-width: 619px;
  padding: 11px 51.2px;
  position: absolute;
  top: 24px;
}

.x-15 .text-17 {
  height: 15px;
  letter-spacing: -1.00px;
  opacity: 0.5;
  width: 85px;
}

.x-15 .input-titled-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-15 .input-title-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: 619px;
}

.x-15 .input-title-3 {
  letter-spacing: 0;
  margin-top: -1px;
}

.x-15 .input-1 {
  align-items: flex-start;
  background-color: var(--flowkitwhite);
  border-radius: 2px;
  display: flex;
  gap: 10px;
  height: min-content;
  padding: 20px 20px 100px;
  width: 619px;
}

.x-15 .text-18 {
  letter-spacing: -1.00px;
  margin-top: -1px;
  opacity: 0.5;
}

.x-15 .btn-list {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: min-content;
  width: 620px;
}

.x-15 .comp-btn-defualt {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  height: 47px;
  justify-content: center;
}

.x-15 .node-5 {
  align-items: center;
  align-self: stretch;
  background-color: var(--mine-shaft-2);
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
  padding: 10px 40px;
}

.x-15 .text-19 {
  letter-spacing: -0.12px;
  min-width: 22px;
  text-align: center;
}
