/* screen - -2 */

.x-2 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  flex-direction: column;
  height: 5118px;
  width: 1920px;
}

.x-2 .overlap-group1 {
  height: 80px;
  position: relative;
  width: 1920px;
}

.x-2 .as {
  left: 944px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 32px;
}

.x-2 .header {
  align-items: center;
  display: flex;
  gap: 300px;
  height: 80px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x-2 .bi {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .symbol {
  height: 36px;
  min-width: 32px;
}

.x-2 .text-5 {
  letter-spacing: 0.50px;
  line-height: 24.0px;
  min-width: 116px;
  white-space: nowrap;
}

.x-2 .right {
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: center;
  width: min-content;
}

.x-2 .text {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.x-2 .benefits {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 55px;
  white-space: nowrap;
}

.x-2 .haruki-primary-arrow-down-2 {
  height: 16px;
  min-width: 16px;
}

.x-2 .benefits-1 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 58px;
  white-space: nowrap;
}

.x-2 .haruki-primary-arrow-down-2-1 {
  height: 16px;
  min-width: 16px;
}

.x-2 .text-6 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 85px;
  white-space: nowrap;
}

.x-2 .benefits-2 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 69px;
  white-space: nowrap;
}

.x-2 .haruki-primary-arrow-down-2-2 {
  height: 16px;
  min-width: 16px;
}

.x-2 .text-7 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 32px;
  white-space: nowrap;
}

.x-2 .group-2 {
  height: 20px;
  min-width: 66px;
}

.x-2 .group-3 {
  align-items: center;
  background-color: var(--wild-sand);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 30px;
  width: min-content;
}

.x-2 .price {
  letter-spacing: 3.00px;
  margin-top: -1px;
  min-width: 28px;
}

.x-2 .vector {
  height: 11px;
  min-width: 15px;
}

.x-2 .nav-type-1 {
  align-items: center;
  background-color: var(--chicago);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 220px;
  width: 1920px;
}

.x-2 .node-3 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  width: min-content;
}

.x-2 .group {
  align-items: center;
  display: flex;
  height: min-content;
  width: min-content;
}

.x-2 .text-8 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 129px;
  white-space: nowrap;
}

.x-2 .text-9 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 136px;
  white-space: nowrap;
}

.x-2 .text-10 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 176px;
  white-space: nowrap;
}

.x-2 .text-11 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 197px;
  white-space: nowrap;
}

.x-2 .group-4 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .charmpeople {
  height: 16px;
  min-width: 16px;
}

.x-2 .text-12 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 82px;
  white-space: nowrap;
}

.x-2 .nav-3 {
  align-items: center;
  background-color: var(--charade);
  display: flex;
  gap: 40px;
  height: 89px;
  justify-content: center;
  width: 1920px;
}

.x-2 .node {
  align-items: center;
  display: flex;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.x-2 .node-1 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 77px;
}

.x-2 .node-4 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 37px;
}

.x-2 .node-5 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 52px;
}

.x-2 .node-6 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 46px;
}

.x-2 .comp-list-index {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-right: 1.0px;
  margin-top: 71px;
  width: 1597px;
}

.x-2 .node-2 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 10px;
  display: flex;
  gap: 6px;
  height: 114px;
  justify-content: center;
  width: 259px;
}

.x-2 .value-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .dj30 {
  letter-spacing: 0;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 37px;
  white-space: nowrap;
}

.x-2 .phone {
  letter-spacing: 0;
  line-height: 24.0px;
  min-width: 76px;
  white-space: nowrap;
}

.x-2 .text-2 {
  letter-spacing: 0;
  line-height: 24.0px;
  min-width: 36px;
  white-space: nowrap;
}

.x-2 .value {
  height: 69.54px;
  min-width: 114px;
}

.x-2 .value-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .value-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .value-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .value-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .header-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 364px;
  margin-top: 60px;
  width: 1596px;
}

.x-2 .profile {
  align-items: flex-start;
  background-color: var(--ebony-clay);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 60px 161px;
  width: 1596px;
}

.x-2 .group-5 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  width: min-content;
}

.x-2 .avatar {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .x1 {
  height: 142px;
  min-width: 142px;
}

.x-2 .name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .value-7 {
  letter-spacing: 0.10px;
  line-height: 26px;
  margin-top: -1px;
  white-space: nowrap;
}

.x-2 .value-8 {
  letter-spacing: -1.00px;
  line-height: 36px;
  min-width: 154px;
  white-space: nowrap;
}

.x-2 .group-6 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: min-content;
}

.x-2 .group-item {
  align-items: center;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 40px;
  width: min-content;
}

.x-2 .primary-button {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 61px;
  text-align: center;
}

.x-2 .primary-button-1 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 101px;
  text-align: center;
}

.x-2 .tab {
  align-items: flex-start;
  display: flex;
  height: min-content;
  width: min-content;
}

.x-2 .profile-active-2 {
  height: 87px;
  min-width: 116.07px;
}

.x-2 .post {
  align-items: flex-start;
  display: flex;
  height: 87px;
  justify-content: center;
  overflow: hidden;
  width: 116px;
}

.x-2 .overlap-group-1 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  min-height: 73px;
  width: 118px;
}

.x-2 .place {
  letter-spacing: 0.20px;
  margin-left: 0;
  margin-top: 10px;
  min-height: 21px;
  text-align: center;
  width: 50px;
}

.x-2 .number {
  letter-spacing: 0.10px;
  margin-left: 0;
  margin-top: 4px;
  min-height: 24px;
  text-align: center;
  width: 66px;
}

.x-2 .shape {
  background-color: var(--blue-ribbon);
  border-radius: 15px 15px 0px 0px;
  height: 5px;
  margin-top: 9px;
  width: 118px;
}

.x-2 .profile-active {
  height: 71px;
  min-width: 151.54px;
}

.x-2 .likes {
  align-items: flex-start;
  display: flex;
  height: 71px;
  justify-content: center;
  overflow: hidden;
  width: 152px;
}

.x-2 .overlap-group-2 {
  align-items: flex-end;
  background-color: var(--flowkitwhite);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  min-height: 73px;
  padding: 10px 21.6px;
  width: 154px;
}

.x-2 .text-1 {
  letter-spacing: 0.20px;
  min-height: 21px;
  text-align: center;
  width: 108px;
}

.x-2 .x122-k {
  letter-spacing: 0.10px;
  margin-right: 17.73px;
  margin-top: 4px;
  min-height: 24px;
  text-align: center;
  width: 73px;
}

.x-2 .overlap-group-3 {
  align-items: flex-end;
  background-color: var(--flowkitwhite);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  min-height: 73px;
  padding: 10px 20.8px;
  width: 154px;
}

.x-2 .x122-k-1 {
  letter-spacing: 0.10px;
  margin-right: 21.76px;
  margin-top: 4px;
  min-height: 24px;
  text-align: center;
  width: 66px;
}

.x-2 .profile-active-1 {
  height: 71px;
  min-width: 119.3px;
}

.x-2 .likes-1 {
  align-items: flex-start;
  display: flex;
  height: 71px;
  justify-content: center;
  overflow: hidden;
  width: 119px;
}

.x-2 .overlap-group-4 {
  align-items: flex-end;
  background-color: var(--flowkitwhite);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  min-height: 73px;
  padding: 10px 29.9px;
  width: 121px;
}

.x-2 .text-13 {
  align-self: center;
  letter-spacing: 0.20px;
  margin-left: 1.78px;
  min-height: 21px;
  text-align: center;
  width: 55px;
}

.x-2 .x122-k-2 {
  letter-spacing: 0.10px;
  margin-top: 4px;
  min-height: 24px;
  text-align: center;
  width: 61px;
}

.x-2 .overlap-group {
  align-items: flex-end;
  background-color: var(--flowkitwhite);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  min-height: 73px;
  padding: 10px 20.3px;
  width: 121px;
}

.x-2 .text-3 {
  letter-spacing: 0.20px;
  min-height: 21px;
  text-align: center;
  width: 79px;
}

.x-2 .x122-k-3 {
  letter-spacing: 0.10px;
  margin-right: 24.18px;
  margin-top: 4px;
  min-height: 24px;
  text-align: center;
  width: 32px;
}

.x-2 .profile-active-3 {
  height: 71px;
  margin-right: -9.16e-05px;
  min-width: 119.3px;
}

.x-2 .x122-k-4 {
  letter-spacing: 0.10px;
  margin-right: 23.38px;
  margin-top: 4px;
  min-height: 24px;
  text-align: center;
  width: 32px;
}

.x-2 .group-7 {
  align-items: flex-start;
  display: flex;
  height: 1278px;
  justify-content: space-between;
  margin-left: 1.0px;
  margin-top: 80px;
  width: 1595px;
}

.x-2 .group-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 0px;
  width: 464px;
}

.x-2 .group-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: min-content;
  padding: 20px 0px;
}

.x-2 .group-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: min-content;
  margin-right: -7px;
  width: min-content;
}

.x-2 .text-14 {
  letter-spacing: 0.10px;
  margin-top: -1px;
  min-width: 68px;
}

.x-2 .separator {
  height: 1px;
  min-width: 471px;
}

.x-2 .text-15 {
  letter-spacing: 0.10px;
  line-height: 24px;
  width: 290px;
}

.x-2 .group-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .join {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.x-2 .ic_date {
  background-image: url(../img/shape@2x.svg);
  background-size: 100% 100%;
  height: 20px;
  min-width: 20px;
}

.x-2 .text-16 {
  letter-spacing: 0.20px;
  margin-top: -1px;
  min-width: 121px;
}

.x-2 .group-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  box-shadow: 2px 4px 20px #3864f61a;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 305px;
  justify-content: center;
  overflow: hidden;
  padding: 40px 90px;
}

.x-2 .big-movers {
  letter-spacing: 0;
  width: 252px;
}

.x-2 .frame-4245 {
  align-items: flex-end;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: min-content;
}

.x-2 .frame-424 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: min-content;
  width: min-content;
}

.x-2 .percent {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 29px;
}

.x-2 .rectangle-996 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 114px;
  min-width: 31px;
}

.x-2 .place-1 {
  letter-spacing: 0;
  min-width: 19px;
}

.x-2 .rectangle-996-1 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 97px;
  min-width: 31px;
}

.x-2 .btc {
  letter-spacing: 0;
  min-width: 18px;
}

.x-2 .rectangle-996-2 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 85px;
  min-width: 31px;
}

.x-2 .lun {
  letter-spacing: 0;
  min-width: 19px;
}

.x-2 .rectangle-996-3 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 63px;
  min-width: 31px;
}

.x-2 .sol {
  letter-spacing: 0;
  min-width: 18px;
}

.x-2 .percent-1 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 23px;
}

.x-2 .rectangle-996-4 {
  background-color: var(--fuscous-gray);
  border-radius: 4px;
  height: 26px;
  min-width: 31px;
}

.x-2 .doge {
  letter-spacing: 0;
  min-width: 26px;
}

.x-2 .top-losers {
  letter-spacing: 0;
  width: 252px;
}

.x-2 .place-2 {
  letter-spacing: 0;
  min-width: 19px;
}

.x-2 .btc-1 {
  letter-spacing: 0;
  min-width: 18px;
}

.x-2 .lun-1 {
  letter-spacing: 0;
  min-width: 19px;
}

.x-2 .sol-1 {
  letter-spacing: 0;
  min-width: 18px;
}

.x-2 .group-12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 747px;
  width: 1111px;
}

.x-2 .h1 {
  align-self: stretch;
  height: 36px;
  min-width: 1111px;
  position: relative;
}

.x-2 .title-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: -1px;
  width: 1111px;
}

.x-2 .coin {
  align-self: stretch;
  height: 50px;
  min-width: 1111px;
}

.x-2 .value-container {
  height: 52px;
  position: relative;
  top: -1px;
  width: 1112px;
}

.x-2 .value-9 {
  align-items: center;
  background-color: var(--outer-space);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 1px;
  width: 278px;
}

.x-2 .value-10 {
  letter-spacing: 0;
  line-height: 24px;
  min-width: 72px;
  text-align: center;
  white-space: nowrap;
}

.x-2 .value-11 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: center;
  left: 277px;
  position: absolute;
  top: 0;
  width: 280px;
}

.x-2 .value-1 {
  letter-spacing: 0.30px;
  line-height: 54px;
  margin-top: -2.5px;
  min-width: 34px;
  text-align: center;
  white-space: nowrap;
}

.x-2 .value-12 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: center;
  left: 554px;
  position: absolute;
  top: 0;
  width: 280px;
}

.x-2 .value-13 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: center;
  left: 832px;
  position: absolute;
  top: 0;
  width: 280px;
}

.x-2 .group-13 {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 524px;
  justify-content: center;
}

.x-2 .comp-input-defualt {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 80px;
  justify-content: center;
  width: 619px;
}

.x-2 .title {
  letter-spacing: -0.12px;
  margin-top: -1px;
  width: 488px;
}

.x-2 .input {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 20px 30px;
}

.x-2 .text-17 {
  letter-spacing: 0.10px;
  line-height: 24px;
  margin-bottom: -6px;
  margin-top: -8px;
  min-width: 421px;
  white-space: nowrap;
}

.x-2 .comp-input-defualt-btn-added {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: min-content;
  justify-content: center;
  width: 620px;
}

.x-2 .input-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--gallery);
  border-radius: 4px;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 20px 540px 20px 0px;
}

.x-2 .text-4 {
  letter-spacing: 0;
  margin-top: -1.5px;
  width: 23px;
}

.x-2 .input-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 20px 30px;
}

.x-2 .btn-small {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  margin-bottom: -8.5px;
  margin-top: -8.5px;
  padding: 8px 13px;
  width: 71px;
}

.x-2 .title-2 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 45px;
  text-align: center;
}

.x-2 .comp-btn-defualt {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 47px;
  justify-content: center;
  width: 740px;
}

.x-2 .node-7 {
  align-items: center;
  align-self: stretch;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
  padding: 10px 40px;
}

.x-2 .text-18 {
  letter-spacing: -0.12px;
  min-width: 96px;
  text-align: center;
}
