/* screen - admin-faq-faq- */

.admin-faq-faq {
  align-items: flex-start;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.admin-faq-faq .overlap-group2 {
  height: 1777px;
  position: relative;
  width: 1920px;
}

.admin-faq-faq .group {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: min-content;
  left: 0;
  position: absolute;
  top: 0;
  width: min-content;
}

.admin-faq-faq .group-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: min-content;
}

.admin-faq-faq .header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0px 200px;
  width: 1920px;
}

.admin-faq-faq .bi {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.admin-faq-faq .symbol {
  height: 36px;
  min-width: 32px;
}

.admin-faq-faq .text-1 {
  letter-spacing: 0.50px;
  line-height: 24.0px;
  min-width: 116px;
  white-space: nowrap;
}

.admin-faq-faq .right {
  align-items: center;
  display: flex;
  gap: 80px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.admin-faq-faq .text-2 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 55px;
  white-space: nowrap;
}

.admin-faq-faq .comp-sidebar-dashboard {
  align-items: center;
  background-color: var(--charade);
  display: flex;
  gap: 40px;
  height: 89px;
  justify-content: center;
  width: 1920px;
}

.admin-faq-faq .node {
  align-items: center;
  display: flex;
  gap: 20px;
  height: min-content;
  width: min-content;
}

.admin-faq-faq .node-8 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 55px;
}

.admin-faq-faq .node-9 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 81px;
}

.admin-faq-faq .node-10 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 84px;
}

.admin-faq-faq .node-11 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 49px;
}

.admin-faq-faq .node-12 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 21px;
}

.admin-faq-faq .node-13 {
  letter-spacing: 0;
  min-width: 52px;
}

.admin-faq-faq .group-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: min-content;
  width: min-content;
}

.admin-faq-faq .h2 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: 1268px;
}

.admin-faq-faq .title-1 {
  letter-spacing: -1.80px;
  margin-top: -1px;
  min-width: 98px;
}

.admin-faq-faq .group-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.admin-faq-faq .comp-dropdown-c1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: min-content;
  justify-content: center;
  width: 200px;
}

.admin-faq-faq .comp-dropdown-default {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 59px;
  justify-content: center;
  padding: 22px 20px;
}

.admin-faq-faq .contents {
  align-self: stretch;
  background-color: var(--flowkitwhite);
  height: 15px;
  min-width: 160px;
}

.admin-faq-faq .overlap-group {
  height: 15px;
  left: 40px;
  position: relative;
  top: -1px;
  width: 151px;
}

.admin-faq-faq .text-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 151px;
}

.admin-faq-faq .lc-dropdown {
  height: 10px;
  left: 70px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.admin-faq-faq .comp-btn-defualt-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 47px;
  justify-content: center;
  width: 295px;
}

.admin-faq-faq .node-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
  padding: 10px 40px;
}

.admin-faq-faq .text-4 {
  letter-spacing: 0;
  min-width: 68px;
  text-align: center;
}

.admin-faq-faq .frame-4555 {
  border-radius: 4px;
  height: 613px;
  min-width: 1270px;
  overflow: hidden;
}

.admin-faq-faq .overlap-group1 {
  height: 614px;
  left: -1px;
  position: relative;
  width: 1272px;
}

.admin-faq-faq .list-header {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  gap: 46px;
  height: 60px;
  left: 2px;
  padding: 0px 80px;
  position: absolute;
  top: 0;
  width: 1268px;
}

.admin-faq-faq .node-14 {
  letter-spacing: -0.22px;
  min-width: 77px;
  text-align: center;
}

.admin-faq-faq .node-15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: min-content;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 59px;
  width: 1272px;
}

.admin-faq-faq .node-16 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 79px;
  justify-content: space-between;
  padding: 0px 80px;
  width: 1270px;
}

.admin-faq-faq .node-2 {
  letter-spacing: -0.12px;
  min-width: 48px;
  text-align: center;
}

.admin-faq-faq .node-3 {
  height: 46px;
  min-width: 1px;
}

.admin-faq-faq .node-4 {
  letter-spacing: -0.20px;
  min-width: 136px;
  text-align: center;
}

.admin-faq-faq .btn-list {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  width: min-content;
}

.admin-faq-faq .btn {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-5 {
  letter-spacing: -0.12px;
  margin-top: -1px;
  text-align: center;
  width: 60px;
}

.admin-faq-faq .btn-1 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-2 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-17 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 81px;
  justify-content: space-between;
  left: 0;
  padding: 0px 80px;
  position: absolute;
  top: 138px;
  width: 1272px;
}

.admin-faq-faq .btn-3 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-4 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-5 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-18 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 81px;
  justify-content: space-between;
  left: 0;
  padding: 0px 80px;
  position: absolute;
  top: 217px;
  width: 1272px;
}

.admin-faq-faq .btn-6 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-7 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-8 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-19 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 81px;
  justify-content: space-between;
  left: 0;
  padding: 0px 80px;
  position: absolute;
  top: 296px;
  width: 1272px;
}

.admin-faq-faq .btn-9 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-10 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-11 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-20 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 81px;
  justify-content: space-between;
  left: 0;
  padding: 0px 80px;
  position: absolute;
  top: 375px;
  width: 1272px;
}

.admin-faq-faq .btn-12 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-13 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-14 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-21 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 81px;
  justify-content: space-between;
  left: 0;
  padding: 0px 80px;
  position: absolute;
  top: 454px;
  width: 1272px;
}

.admin-faq-faq .btn-15 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-16 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-17 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-22 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  height: 81px;
  justify-content: space-between;
  left: 0;
  padding: 0px 80px;
  position: absolute;
  top: 533px;
  width: 1272px;
}

.admin-faq-faq .btn-18 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-19 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .btn-20 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .pager {
  align-items: center;
  display: flex;
  gap: 17px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.admin-faq-faq .number {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 8px;
  text-align: center;
}

.admin-faq-faq .number-1 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 7px;
  text-align: center;
}

.admin-faq-faq .lc-dropdown-1 {
  height: 16px;
  min-width: 16px;
}

.admin-faq-faq .group-4 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 640px;
  justify-content: center;
  width: 1270px;
}

.admin-faq-faq .text-5 {
  height: 24px;
  min-width: 1000px;
  position: relative;
}

.admin-faq-faq .text-product-title {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: -1px;
  width: 938px;
}

.admin-faq-faq .group-5 {
  height: 336px;
  min-width: 1005px;
}

.admin-faq-faq .node-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 336px;
  width: 1005px;
}

.admin-faq-faq .node-23 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  height: 67px;
  justify-content: space-between;
  padding: 0px 80px;
  width: 1005px;
}

.admin-faq-faq .group-4553 {
  height: 18px;
  min-width: 286px;
}

.admin-faq-faq .node-6 {
  align-items: center;
  display: flex;
  gap: 46px;
  height: min-content;
  width: min-content;
}

.admin-faq-faq .node-24 {
  letter-spacing: -0.14px;
  margin-top: -1px;
  min-width: 39px;
  text-align: center;
}

.admin-faq-faq .btn-21 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-7 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  height: 67px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 80px;
  width: 1005px;
}

.admin-faq-faq .node-25 {
  letter-spacing: -0.14px;
  margin-top: -1px;
  min-width: 64px;
  text-align: center;
}

.admin-faq-faq .btn-22 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-26 {
  letter-spacing: -0.14px;
  margin-top: -1px;
  min-width: 19px;
  text-align: center;
}

.admin-faq-faq .btn-23 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .node-27 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  height: 67px;
  justify-content: space-between;
  margin-top: 26px;
  padding: 0px 80px;
  width: 1005px;
}

.admin-faq-faq .node-28 {
  letter-spacing: -0.14px;
  margin-top: -1px;
  min-width: 26px;
  text-align: center;
}

.admin-faq-faq .btn-24 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 25px;
  width: min-content;
}

.admin-faq-faq .comp-btn-defualt {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 47px;
  justify-content: center;
  width: 486px;
}

.admin-faq-faq .text-6 {
  letter-spacing: -0.12px;
  min-width: 71px;
  text-align: center;
}

.admin-faq-faq .overlay {
  background-color: var(--black-3);
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.admin-faq-faq .group-6 {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  height: 632px;
  justify-content: center;
  left: 488px;
  position: absolute;
  top: 224px;
  width: 945px;
}

.admin-faq-faq .text-7 {
  height: 24px;
  min-width: 488px;
  position: relative;
}

.admin-faq-faq .text-product-title-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: -1px;
  width: 458px;
}

.admin-faq-faq .comp-input-defualt {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: min-content;
  justify-content: center;
  width: 486px;
}

.admin-faq-faq .title {
  letter-spacing: -0.12px;
  margin-right: -2px;
  margin-top: -1px;
  width: 488px;
}

.admin-faq-faq .input {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  padding: 20px 30px;
}

.admin-faq-faq .text {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 23px;
}

.admin-faq-faq .comp-dropdown-c1-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: min-content;
  justify-content: center;
  width: 486px;
}

.admin-faq-faq .title-2 {
  letter-spacing: -0.24px;
  margin-top: -1px;
  width: 223px;
}

.admin-faq-faq .contents-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  display: flex;
  height: min-content;
  justify-content: space-between;
  padding: 0px 40px;
}

.admin-faq-faq .text-8 {
  letter-spacing: 0;
  margin-top: -1px;
  width: 151px;
}

.admin-faq-faq .lc-dropdown-2 {
  height: 10px;
  min-width: 10px;
}

.admin-faq-faq .text-9 {
  letter-spacing: -0.12px;
  min-width: 47px;
  text-align: center;
}
