/* screen - screen2 */

.screen2 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  flex-direction: column;
  height: 1794px;
  width: 1920px;
}

.screen2 .header {
  align-items: center;
  display: flex;
  gap: 300px;
  height: 80px;
  justify-content: center;
  width: 1920px;
}

.screen2 .bi {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.screen2 .symbol {
  height: 36px;
  min-width: 32px;
}

.screen2 .text-1 {
  letter-spacing: 0.50px;
  line-height: 24.0px;
  min-width: 116px;
  white-space: nowrap;
}

.screen2 .right {
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: center;
  width: min-content;
}

.screen2 .text {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.screen2 .benefits {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 55px;
  white-space: nowrap;
}

.screen2 .haruki-primary-arrow-down-2 {
  height: 16px;
  min-width: 16px;
}

.screen2 .benefits-1 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 58px;
  white-space: nowrap;
}

.screen2 .haruki-primary-arrow-down-2-1 {
  height: 16px;
  min-width: 16px;
}

.screen2 .text-2 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 85px;
  white-space: nowrap;
}

.screen2 .benefits-2 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 69px;
  white-space: nowrap;
}

.screen2 .haruki-primary-arrow-down-2-2 {
  height: 16px;
  min-width: 16px;
}

.screen2 .text-3 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 32px;
  white-space: nowrap;
}

.screen2 .group-1 {
  height: 20px;
  min-width: 66px;
}

.screen2 .group-2 {
  align-items: center;
  background-color: var(--wild-sand);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 30px;
  width: min-content;
}

.screen2 .price {
  letter-spacing: 3.00px;
  margin-top: -1px;
  min-width: 28px;
}

.screen2 .vector {
  height: 11px;
  min-width: 15px;
}

.screen2 .nav-type-1 {
  align-items: center;
  background-color: var(--chicago);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 220px;
  width: 1920px;
}

.screen2 .node {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  width: min-content;
}

.screen2 .group {
  align-items: center;
  display: flex;
  height: min-content;
  width: min-content;
}

.screen2 .text-4 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 129px;
  white-space: nowrap;
}

.screen2 .text-5 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 136px;
  white-space: nowrap;
}

.screen2 .text-6 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 176px;
  white-space: nowrap;
}

.screen2 .text-7 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 197px;
  white-space: nowrap;
}

.screen2 .group-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.screen2 .charmpeople {
  height: 16px;
  min-width: 16px;
}

.screen2 .text-8 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 82px;
  white-space: nowrap;
}

.screen2 .frame-4555 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: min-content;
  margin-right: 1.0px;
  margin-top: 140px;
  width: min-content;
}

.screen2 .title-2 {
  height: 42px;
  min-width: 945px;
  position: relative;
}

.screen2 .title {
  left: 0;
  letter-spacing: -1.44px;
  position: absolute;
  top: -1px;
  width: 945px;
}

.screen2 .h4 {
  height: 25px;
  min-width: 945px;
  position: relative;
}

.screen2 .h4-1 {
  left: 0;
  letter-spacing: -1.20px;
  position: absolute;
  top: -1px;
  width: 945px;
}

.screen2 .regular {
  align-items: center;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: 339px;
  justify-content: center;
  width: 945px;
}

.screen2 .regular-1 {
  letter-spacing: -0.12px;
  line-height: 27px;
  width: 680px;
}

.screen2 .comp-text-radio {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  width: 680px;
}

.screen2 .ic-checkbox {
  background-color: var(--flowkitwhite);
  height: 24px;
  min-width: 24px;
}

.screen2 .node-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  height: min-content;
}

.screen2 .title-1 {
  color: var(--charade);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: -0.96px;
  line-height: 24px;
  margin-top: -1px;
  text-align: justify;
  white-space: nowrap;
}

.screen2 .btn-list {
  height: 124px;
  min-width: 945px;
  position: relative;
}

.screen2 .comp-btn-defualt {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 945px;
}

.screen2 .node-2 {
  align-items: center;
  align-self: stretch;
  background-color: #2a31351a;
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
  padding: 10px 40px;
}

.screen2 .text-9 {
  letter-spacing: -0.12px;
  min-width: 47px;
  text-align: center;
}

.screen2 .comp-btn-defualt-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 49px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 75px;
  width: 945px;
}

.screen2 .node-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: 47px;
  justify-content: center;
  padding: 10px 40px;
}

.screen2 .text-10 {
  letter-spacing: -0.12px;
  min-width: 129px;
  text-align: center;
}
