/* screen - screen8 */

.screen8 {
  align-items: center;
  background-color: var(--flowkitwhite);
  display: flex;
  flex-direction: column;
  height: 1482px;
  width: 1920px;
}

.screen8 .header {
  align-items: center;
  display: flex;
  gap: 300px;
  height: 80px;
  justify-content: center;
  width: 1920px;
}

.screen8 .bi {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.screen8 .symbol {
  height: 36px;
  min-width: 32px;
}

.screen8 .text-3 {
  letter-spacing: 0.50px;
  line-height: 24.0px;
  min-width: 116px;
  white-space: nowrap;
}

.screen8 .right {
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: center;
  width: min-content;
}

.screen8 .text {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.screen8 .benefits {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 55px;
  white-space: nowrap;
}

.screen8 .haruki-primary-arrow-down-2 {
  height: 16px;
  min-width: 16px;
}

.screen8 .benefits-1 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 58px;
  white-space: nowrap;
}

.screen8 .haruki-primary-arrow-down-2-1 {
  height: 16px;
  min-width: 16px;
}

.screen8 .text-4 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 85px;
  white-space: nowrap;
}

.screen8 .benefits-2 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  margin-top: -1px;
  min-width: 69px;
  white-space: nowrap;
}

.screen8 .haruki-primary-arrow-down-2-2 {
  height: 16px;
  min-width: 16px;
}

.screen8 .text-5 {
  letter-spacing: -0.22px;
  line-height: 24.0px;
  min-width: 32px;
  white-space: nowrap;
}

.screen8 .group-1 {
  height: 20px;
  min-width: 66px;
}

.screen8 .group-2 {
  align-items: center;
  background-color: var(--wild-sand);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  padding: 10px 30px;
  width: min-content;
}

.screen8 .price {
  letter-spacing: 3.00px;
  margin-top: -1px;
  min-width: 28px;
}

.screen8 .vector {
  height: 11px;
  min-width: 15px;
}

.screen8 .nav-type-1 {
  align-items: center;
  background-color: var(--chicago);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 220px;
  width: 1920px;
}

.screen8 .node {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  width: min-content;
}

.screen8 .group {
  align-items: center;
  display: flex;
  height: min-content;
  width: min-content;
}

.screen8 .text-6 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 129px;
  white-space: nowrap;
}

.screen8 .text-7 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 136px;
  white-space: nowrap;
}

.screen8 .text-8 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 176px;
  white-space: nowrap;
}

.screen8 .text-9 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 197px;
  white-space: nowrap;
}

.screen8 .group-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.screen8 .charmpeople {
  height: 16px;
  min-width: 16px;
}

.screen8 .text-10 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1px;
  min-width: 82px;
  white-space: nowrap;
}

.screen8 .comp-menu-bar-btn-list {
  align-items: center;
  background-color: var(--alabaster-2);
  display: flex;
  gap: 80px;
  height: 135px;
  justify-content: center;
  margin-top: 89px;
  padding: 38px 525px;
  width: 1594px;
}

.screen8 .btn-contents {
  align-self: stretch;
  height: 59px;
  min-width: 42px;
  position: relative;
}

.screen8 .ic-faq {
  height: 30px;
  left: 576px;
  position: absolute;
  top: 38px;
  width: 40px;
}

.screen8 .title {
  left: 8px;
  letter-spacing: -0.16px;
  opacity: 0.7;
  position: absolute;
  text-align: center;
  top: 44px;
  width: 24px;
}

.screen8 .in-notice {
  height: 30px;
  left: 696px;
  position: absolute;
  top: 38px;
  width: 40px;
}

.screen8 .title-1 {
  left: 5px;
  letter-spacing: -0.16px;
  opacity: 0.7;
  position: absolute;
  text-align: center;
  top: 44px;
  width: 30px;
}

.screen8 .btn-contents-1 {
  align-self: stretch;
  height: 59px;
  min-width: 61px;
}

.screen8 .overlap-group {
  height: 30px;
  position: relative;
  top: 38px;
  width: 59px;
}

.screen8 .in-notice-1 {
  height: 30px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 40px;
}

.screen8 .title-2 {
  left: 0;
  letter-spacing: -0.16px;
  opacity: 0.7;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 59px;
}

.screen8 .btn-contents-2 {
  align-self: stretch;
  height: 59px;
  min-width: 64px;
  position: relative;
}

.screen8 .ricustomer-service-2-fill {
  height: 33px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 41px;
}

.screen8 .title-3 {
  left: 0;
  letter-spacing: -0.16px;
  opacity: 0.7;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 62px;
}

.screen8 .group-4 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: min-content;
  margin-top: 60px;
  width: 1594px;
}

.screen8 .comp-info {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 60px;
  justify-content: center;
}

.screen8 .regular-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--charade);
  border-radius: 4px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0px 40px;
}

.screen8 .text-11 {
  letter-spacing: 0;
  min-width: 26px;
  text-align: center;
}

.screen8 .text-12 {
  letter-spacing: 0;
  min-width: 39px;
  text-align: center;
}

.screen8 .regular {
  align-items: center;
  align-self: stretch;
  background-color: var(--flowkitwhite);
  border-radius: 4px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0px 40px;
}

.screen8 .text-1 {
  letter-spacing: 0;
  min-width: 121px;
  text-align: center;
}

.screen8 .text-2 {
  letter-spacing: 0;
  min-width: 54px;
  text-align: center;
}

.screen8 .pager {
  align-items: center;
  display: flex;
  gap: 17px;
  height: min-content;
  justify-content: center;
  margin-right: 1.0px;
  margin-top: 40px;
  width: 1595px;
}

.screen8 .number {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 8px;
  text-align: center;
}

.screen8 .number-1 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 7px;
  text-align: center;
}

.screen8 .lc-dropdown {
  height: 16px;
  min-width: 16px;
}
