{% extends 'base.html' %}
{% block content %}
    <div class="container-xl" style="padding: 0">
<!--        <div id='my_div'></div>-->
<!--        <input id='clearbtn' type='button' value='clear' />-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
        <h1>KIMPHOME</h1>
        <h1>KIMPHOME</h1>
        <div id='result'></div>
    </div>
{% endblock %}