<footer>
        <section class="page__info">
            <div class="foot__logo">
                <div>
                    <i class="fa-solid fa-coins"></i>
                    <span>FUND3.0</span>
                </div>
                <div class="sign__text">
                    <div>FUND 3.0(fund30.net) 에서는 암호화폐를 포함한 투자 상품들에 대한 집적화된 정보를 제공합니다.</div><br>
                    <div>사이트에서 제공하는 정보는 투자에 대한 조언이 아니며, 투자에 대한 모든 책임은 본인에게 있습니다.</div>
                </div>

            </div>
            <ul class="law__related">
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="">이용약관</a></li>
                <li><a href="">About</a></li>
            </ul>

        </section>
        <hr>
        <section class="social">
            <div class="commany__info">@Lorem ipsum dolor sit amet, consectetur.</div>
            <div></div>
            <div class="connet__social">
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </section>
</footer>