<footer>
        <section class="page__info">
            <div class="foot__logo">
                <div>
                    <i class="fa-solid fa-coins"></i>
                    <span>FUND3.0</span>
                </div>
                <div class="sign__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eligendi est, eum fugiat id impedit libero minima mollitia nemo praesentium provident quaerat quia rem sint sit, tempora velit. Excepturi, sint.</div>
            </div>
            <ul class="law__related">
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="">이용약관</a></li>
                <li><a href="">About</a></li>
            </ul>

        </section>
        <hr>
        <section class="social">
            <div class="commany__info">@Lorem ipsum dolor sit amet, consectetur.</div>
            <div></div>
            <div class="connet__social">
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </section>
</footer>