{% load static %}

<hearder>
    <div class="header__container">
        <div class="header__logo">
            <i class="fa-solid fa-coins"></i>
            <span>FUND3.0</span>
        </div>
        <ul class="main__menu">
            <li class="home__button"><a href="#">홈</a></li>
            <li class="insight__button">
                <a href="#">인사이트</a>
                <ul class="insight__submenu">
                    <li><a href="#">최신피드</a></li>
                    <li><a href="#">소셜관리</a></li>
                </ul>
            </li>
            <li class="marketinfo__button">
                <a href="#">마켓인포</a>
                <ul class="marketinfo__submenu">
                    <li><a href="#">뉴스</a></li>
                    <li><a href="#">그레이스케일</a></li>
                    <li><a href="#">펀딩레이트</a></li>
                </ul>
            </li>
            <li class="strategy__button"><a href="#">전략</a></li>
            <li class="portfolio__button"><a href="#">포트폴리오</a></li>
        </ul>
        <div class="userinfoAndSetting">
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-gears"></i>
            <button class="base__currency" id="">krw/usd</button>
        </div>
        <button id="menu__button">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</hearder>