{% load static %}
<header>
        <div class="navbar container-xl">
                <div class="navbar__logo">
                        <i class="fa-brands fa-bitcoin"></i>
                        <a href="">FUND3.0</a>
                </div>

                <ul class="navbar__menu">
                        <li><a href="">홈</a></li>
                        <li><a href="">인사이트 </a><i class="fa-solid fa-angle-down"></i></li>
                        <li><a href="">마켓인포 </a><i class="fa-solid fa-angle-down"></i></li>
                        <li><a href="">전략</a></li>
                        <li><a href="">포트폴리오</a></li>
                        <li><a href="">About</a></li>
                </ul>

                <ul class="navbar__icon">
                        <li><a href=""><i class="fa-solid fa-user"></i></a></li>
                        <li><a href=""><i class="fa-solid fa-gear"></i></a></li>
                </ul>

                <a href="#" class="navbar__toggleBtn">
                        <i class="fa-solid fa-bars"></i>
                </a>
        </div>
        <div class="subnavbar container-xl">
                <ul class="insight__Menu">
                        <li><a href="">최신피드</a></li>
                        <li><a href="">피드관리</a></li>
                </ul>
                <ul class="marketinfo__Menu">
                        <li><a href="">뉴스</a></li>
                        <li><a href="">그레이스케일</a></li>
                        <li><a href="">실시간펀딩비율</a></li>
                </ul>
        </div>
</header>