{% load static %}
<div class="headdisplay">
    <marquee id="headmarqee" behavior="scroll" direction=right" scrollamount="15" loop="-1" bgcolor="#333333" onMouseOver="this.stop()" onMouseOut="this.start()">
        <ul>
            <li class="boardtext">
                <a href="#">FUND3.0 TEST Board</a>
            </li>
            <li class="boardtext">
                <a href="https://kr.investing.com/currencies/usd-krw">USD:1,309</a>
            </li>
            <li class="boardtext">
                <a href="https://kr.investing.com/crypto/bitcoin/btc-krw">BTC/KRW:30,180,187.49</a>
            </li>
            <li class="boardtext">
                <a href="https://kr.investing.com/crypto/bitcoin/btc-usd">BTC/USD:23033.30</a>
            </li>
        </ul>
    </marquee>
</div>